*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    position:relative;
}

.imagem_logo{
    width: 850px;
    margin: 80px auto 10px auto;
    
}


img{
    width: 100%;
}

.nomedaequipe{
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 22px;
    height: 20px;
    width: 300px;
    margin: 50px 460px auto auto;
    padding-right: 300px;
    letter-spacing: 3px;
}

.imagemdaequipe{
    width: 850px;
    margin: 30px auto 10px auto;
}

.todososnomes{
    margin: auto auto -2500px;
    display:flex;
    flex-direction: row;
}

.somentenomes{
    display:flex;
    flex-direction:column;
}

.nomeclatura001{
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 22px;
    height: 20px;
    width: 300px;
    margin: 3px auto;
    padding-right: 300px;
    letter-spacing: 3px;
}
.nomeclatura002{
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 22px;
    height: 45px;
    width: 200px;
    margin: 3px auto;
    padding-right: 225px;
    letter-spacing: 3px;
}

.data001{
    color:rgb(240, 241, 255);
    font-family: 'Trebuchet MS Condensed', 'Arial Narrow', sans-serif;
    font-style: bold;
    font-size: 23px;
    height: 30px;
    width: 300px;
    margin: 3px auto;
    padding-left: 290px;
    letter-spacing: 17px;
}
.nomeintegrante001{
    color:rgb(28, 212, 157);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}
.nomeintegrante002{
    color:rgb(202, 27, 27);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}
.nomeintegrante003{
    color:rgb(28, 212, 157);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}
.nomeintegrante004{
    color:rgb(202, 27, 27);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}
.nomeintegrante005{
    color:rgb(28, 212, 157);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}
.nomeintegrante006{
    color:rgb(202, 27, 27);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 50px;
    width: 300px;
    margin: 3px auto;
    padding-left: 520px;
    letter-spacing: 3px;
}

.instagram{
    
    width: 60px;
    position:fixed;
    right: 5px;
    top: 400px;
    border-radius: 5px;
}

.youtube{
    width: 60px;
    position:fixed;
    right: 5px;
    top: 460px;
    border-radius: 100px;
    
}

.facebook{
    width: 61px;
    position:fixed;
    right: 5px;
    top: 520px;
    border-radius: 100px;
    
}

.circulo001{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position:absolute;
    right: 5px;
    top: 580px;
    bottom: 1800px;
    left: -130px;
    margin: auto;
    border-radius: 50%;
}

.introducaoprojeto{
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 22px;
    height: 130px;
    width: 25px 20px auto auto;
    margin: 20px auto;
    padding-right: 25px;
    letter-spacing: 3px;
}

/* pessoa01 */

.tudosobrepessoa001{
    margin: 120px auto auto auto;
    display:flex;
    flex-direction: row;
}

.imgintegrante001{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes001{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 180px;
    width: 610px;
    margin: 440px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;

}



.datadenascimentoCOLORpessoa001{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.nascimentointegrante001{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa001{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa001{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}
/* pessoa01 */
/* pessoa02 */

.tudosobrepessoa002{
    display:flex;
    flex-direction: row;
}

.imgintegrante002{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes002{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 610px;
    margin: 540px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;
}



.datadenascimentoCOLORpessoa002{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.nascimentointegrante002{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa002{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa002{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}
/* pessoa02 */

/* pessoa03 */

.tudosobrepessoa003{
    display:flex;
    flex-direction: row;
}

.imgintegrante003{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes003{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 610px;
    margin: 540px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;
}



.datadenascimentoCOLORpessoa003{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.nascimentointegrante003{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa003{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa003{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}
/* pessoa03 */
/* pessoa04 */

.tudosobrepessoa004{
    display:flex;
    flex-direction: row;
}

.imgintegrante004{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes004{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 610px;
    margin: 540px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;
}



.datadenascimentoCOLORpessoa004{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: 60px auto auto 800px;
}

.nascimentointegrante004{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa004{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa004{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}
/* pessoa04 */

/* pessoa05 */

.tudosobrepessoa005{
    display:flex;
    flex-direction: row;
}

.imgintegrante005{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes005{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 610px;
    margin: 540px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;
}



.datadenascimentoCOLORpessoa005{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: 65px auto auto 800px;
}

.nascimentointegrante005{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa005{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa005{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}
/* pessoa05 */
/* pessoa06 */

.tudosobrepessoa006{
    display:flex;
    flex-direction: row;
}

.imgintegrante006{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
    
}

.infosintegrantes006{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 610px;
    margin: 540px 280px auto auto;
    border-radius: 100px;
    bottom: 180px;
    letter-spacing: 2px;
}



.datadenascimentoCOLORpessoa006{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: 80px auto auto 800px;
}

.nascimentointegrante006{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadaCOLORpessoa006{
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto auto 800px;
}

.areadapessoa006{
    color: #ccc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    margin: auto auto 100px 800px;
}
/* pessoa06 */

.tituloprojetosocial{
    color: #ff2ce3;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: auto 240px;
}

.subtituloprojetosicial{
    color: #f10e6d;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin: auto 240px;
}

.textoprojetosocial{
    color: #ccc;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    width: 1500px;
    margin: auto auto 100px auto;
}
.tituloplanodenegocio{
    color: #ff2ce3;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: auto 240px;
}

.textoplanodenegocio{
    color: #ccc;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    width: 1500px;
    margin: auto auto 100px auto;
}

.tituloprojetotecnico{
    color: #ff2ce3;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: auto 240px;
}

.subtituloprojetotecnico{
    color: #f10e6d;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin: auto 240px;
}

.textoprojetotecnico{
    color: #ccc;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    width: 1500px;
    margin: auto auto 100px auto;

}

.MUNDOSTAND{
    display:flex;
    flex-direction: row;
}
.textstand{
    display:flex;
    flex-direction:column;
}

.fotostand{
    width: 635px;
    margin: 80px AUTO 10px 8px;
    bottom: 10px;
}

.titulostand{
    color: #ff2ce3;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: auto 240px;
}

.subtitulostand{
    color: #f10e6d;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin: auto 240px;
}

.textostand{
    color: #ccc;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    width: 1500px;
    margin: auto auto 100px auto;

}

